
/*+fontw('Akrobat', 'Akrobat-Light', '300')*/
/*+fontw('Akrobat', 'Akrobat-Regular', '400')*/
/*+fontw('Akrobat', 'Akrobat-Bold', '700')*/
/*+fontw('Phanton', 'Phanton-Light', '300')*/
/*+fontw('Phanton', 'Phanton', '400')*/
/*+fontw('Phanton', 'Phanton-Bold', '700')*/

+font('Akrobat', 'Akrobat')
+font('Akrobatbold', 'Akrobatbold')
+font('Akrobatlight', 'Akrobatlight')
+font('Panton', 'Panton')
+font('PantonBold', 'PantonBold')
+font('PantonLight', 'PantonLight')
/*+font('KabzarKS', 'KabzarKS')*/
+font('LucidaSans', 'LucidaSansUnicode')
body, html
	width: 100%
	margin: 0px
	padding: 0
.body__wrap
	max-width: 1060px
	width: 100%
	background-color: #fff
	margin: 0 auto
body:after
	display: block
	content: ''
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-image: url("../img/bg/12.jpeg	")
	background-size: cover
	opacity: 1;
	z-index: -10;
	+r(400)
		display: none
@font-face
    font-family: 'KobzarKS'
    src: url('../fonts/KobzarKS.woff2') format('woff2'), url('../fonts/KobzarKS.woff') format('woff')
    font-weight: normal
    font-style: normal

.container
	max-width: 1200px
	width: 90%
	margin: 0 auto
	+r(425)
		width: 95%
.top-button
	display: block
	position: fixed
	bottom: 5px
	right: 20px
	text-decoration: none
	background-color: #000
	color: #fff
	opacity: 0.6
	z-index: 10
	padding: 28px 5px 5px 5px
	vertical-align: bottom
	font-size: 16px
	text-transform: lowercase
	&:after
		display: block
		content: ''
		position: absolute
		top: 5px
		left: 50%
		width: 0
		height: 0
		border-style: solid
		margin-left: -23px
		border-width: 0 23px 23px 23px;
		border-color: transparent transparent #ffffff transparent
img
	transition: transform 1s
	
	

