<!-- begin agronomist -->
<section class="agronomist" id="scroll-agronomist">
	<div class="container">
		<h2 class="agronomist__heading">помощь <span>агронома</span></h2>
		<div class="agronomist__content">
			<div class="agronomist__image-wrapper">
				<img src="img/agronomist.jpg" alt="" class="agronomist__image">
			</div>
			<div class="agronomist__wrapper">
				<div class="agronomist__sub-title">подзаголовок</div>
				<p class="agronomist__text">NAM QUAM NUNC, BLANDIT VEL, LUCTUS PULVINAR, HENDRERIT ID, LOREM. MAECENAS NEC ODIO ET ANTE TINCIDUNT TEMPUS. DONEC VITAE SAPIEN UT LIBERO VENENATIS FAUCIBUS. NULLAM QUIS ANTE. ETIAM SIT AMET ORCI EGET EROS FAUCIBUS TINCIDUNT.</p>
				<button class="agronomist__button js-btn-popup">получить консультацию</button>
			</div>
		</div>
	</div>
</section>
<!-- end agronomist -->