<!-- begin clients -->
<section class="clients container" id="scroll-clients">
	<div class="clients__heading">наши клиенты</div>
	<div class="clients__list">
		<div class="clients__item">
			<div class="clients__image"><img class="animated" src="img/client-1.jpg" alt=""></div>
			<div class="clients__caption">
				<div class="clients__name">николай <br>николаевич <br>николаев</div>
				<div class="clients__do">посадил елку и очень доволен</div>
				<div class="clients__review-title">отзыв клиента</div>
				<div class="clients__review-text">Lorem ipsum dolor sit amet, ut adhuc albucius sed. Quo mundi essent ad, duo labitur signiferumque ad, eu laoreet perpetua eum. Ut per nulla civibus accusamus, eu ius quod paulo. Iudico veritus tractatos ut ius, homero democritum necessitatibus cum ex. Vidit honestatis eloquentiam et vel. Nam dissentias voluptatibus id, mei ne nobis probatus.</div>
			</div>
		</div>
		<div class="clients__item">
			<div class="clients__image clients__image_r"><img class="animated" src="img/client-2.jpg" alt=""></div>
			<div class="clients__caption clients__caption_r">
				<div class="clients__name">просто <br>иван <br>иваныч</div>
				<div class="clients__do">купил мегу сосну рад нереально</div>
				<div class="clients__review-title">отзыв клиента</div>
				<div class="clients__review-text">Lorem ipsum dolor sit amet, ut adhuc albucius sed. Quo mundi essent ad, duo labitur signiferumque ad, eu laoreet perpetua eum. Ut per nulla civibus accusamus, eu ius quod paulo. Iudico veritus tractatos ut ius, homero democritum necessitatibus cum ex. Vidit honestatis eloquentiam et vel. Nam dissentias voluptatibus id, mei ne nobis probatus.</div>
			</div>
		</div>
		<div class="clients__item">
			<div class="clients__image"><img src="img/client-1.jpg" alt=""></div>
			<div class="clients__caption">
				<div class="clients__name">николай <br>николаевич <br>николаев</div>
				<div class="clients__do">посадил елку и очень доволен</div>
				<div class="clients__review-title">отзыв клиента</div>
				<div class="clients__review-text">Lorem ipsum dolor sit amet, ut adhuc albucius sed. Quo mundi essent ad, duo labitur signiferumque ad, eu laoreet perpetua eum. Ut per nulla civibus accusamus, eu ius quod paulo. Iudico veritus tractatos ut ius, homero democritum necessitatibus cum ex. Vidit honestatis eloquentiam et vel. Nam dissentias voluptatibus id, mei ne nobis probatus.</div>
			</div>
		</div>
	</div>
</section>
<!-- end clients -->