<!-- begin clients -->
<section class="clients">
	<div class="clients__wrap">
		<div class="clients__title">наши клиенты</div>
		<ul class="clients__list">
			<li class="clients__item"><img src="picture/s10logo6.jpg" alt=""></li>
			<li class="clients__item"><img src="picture/millenium.jpg" alt=""></li>
			<li class="clients__item"><img src="picture/europe.gif" alt=""></li>
			<li class="clients__item"><img src="picture/s10logo4.jpg" alt=""></li>
			<li class="clients__item"><img src="picture/image-headpic.big_ru-1521037443.jpg" alt=""></li>
			<li class="clients__item"><img src="picture/edemm.jpg" alt=""></li>
			<li class="clients__item"><img src="picture/potapovo.png" alt=""></li>
			<li class="clients__item"><img src="picture/logo.png" alt=""></li>
		</ul>
	</div>
</section>
<!-- end clients -->