<!-- begin comands -->
<section class="comands" id="scroll-comands">
	<div class="container">
		<div class="comands__title">наша команда</div>
		<ul class="comands__list">
			<li class="comands__item">
				<div class="comands__image"><img src="picture/comands-1.jpg" alt=""></div>
				<div class="comands__caption">
					<div class="comands__name">вася пупкин</div>
					<div class="comands__position">директор</div>
				</div>
			</li>
			<li class="comands__item">
				<div class="comands__image"><img src="picture/comands-2.jpg" alt=""></div>
				<div class="comands__caption">
					<div class="comands__name">петя петин</div>
					<div class="comands__position">главный зам</div>
				</div>
			</li>
			<li class="comands__item">
				<div class="comands__image"><img src="picture/comands-3.jpg" alt=""></div>
				<div class="comands__caption">
					<div class="comands__name">иван иваныч</div>
					<div class="comands__position">дизайнер</div>
				</div>
			</li>
			<li class="comands__item">
				<div class="comands__image"><img src="picture/comands-4.jpg" alt=""></div>
				<div class="comands__caption">
					<div class="comands__name">сильвестор</div>
					<div class="comands__position">аля кобра</div>
				</div>
			</li>
		</ul>
	</div>
</section>
<!-- end comands -->