<!-- begin comands -->
<section class="comands" id="scroll-comands">
	<div class="comands__title">наша команда</div>
	<ul class="comands__list">
		<li class="comands__item">
			<div class="comands__image"><img src="img/comands-1.jpg" alt=""></div>
			<div class="comands__caption">
				<div class="comands__name">вася пупкин</div>
				<div class="comands__position">директор</div>
			</div>
		</li>
		<li class="comands__item">
			<div class="comands__image"><img src="img/comands-2.jpg" alt=""></div>
			<div class="comands__caption">
				<div class="comands__name">петя петин</div>
				<div class="comands__position">главный зам</div>
			</div>
		</li>
		<li class="comands__item">
			<div class="comands__image"><img src="img/comands-3.jpg" alt=""></div>
			<div class="comands__caption">
				<div class="comands__name">иван иваныч</div>
				<div class="comands__position">дизайнер</div>
			</div>
		</li>
		<li class="comands__item">
			<div class="comands__image"><img src="img/comands-4.jpg" alt=""></div>
			<div class="comands__caption">
				<div class="comands__name">сильвестор</div>
				<div class="comands__position">аля кобра</div>
			</div>
		</li>
	</ul>
</section>
<!-- end comands -->