<!-- begin copyright -->
<section class="copyright" id="scroll-copyright">
	<div class="container">
			<div class="copyright__inn">ОГРН 5137746159475<br>ИНН 7743909898</div>
			<div class="copyright__firma">ООО ЗЕЛЕНЫЕ ТУИ 2012 - 2018<br>WWW.ПИТОМНИКТУЙ.МОСКВА
			</div>
			<div class="copyright__counter counter">
				{{mixins.icon('counter')}}
				<span>308 780</span>
				<span>15 771</span>
				<span>9 538</span>
			</div>

			<div class="copyright__text"><button class="js-copyright">Политика конфиденциальности</button><span class="js-span js-span_active">Все материалы данного сайта являются объектами авторского права (в том числе дизайн). Запрещается копирование, распространение (в том числе путем копирования на другие сайты и ресурсы в Интернете) или любое иное использование информации и объектов без предварительного согласия правообладателя.</span></div>
		</div>
</section>
<!-- end copyright -->