<!-- begin features -->
<section class="features features_delivery" id="scroll-delivery">
  <div class="container">
  	<ul class="features__list">
  		<li class="features__item features__item_car-small">{{mixins.icon('car-small')}}<p>малогабаритная <br>доставка</p></li>
  		<li class="features__item features__item_car-manipulator">{{mixins.icon('car-manipulator')}}<p>погрузка <br>манипулятором</p></li>
  		<li class="features__item features__item_car-big">{{mixins.icon('car-big')}}<p>большие <br>объемы</p></li>
  		<li class="features__item features__item_car-croups">{{mixins.icon('car-croups')}}<p>доставка <br>крупномеров</p></li>
  	</ul>
  </div>
</section>
<!-- end features -->