<!-- begin features -->
<section class="features">
  <div class="container">
  	<ul class="features__list">
  		<li class="features__item features__item_car-small">{{mixins.icon('car-small')}}<span>малогабаритная доставка</span></li>
  		<li class="features__item features__item_car-manipulator">{{mixins.icon('car-manipulator')}}<span>погрузка манипулятором</span></li>
  		<li class="features__item features__item_car-big">{{mixins.icon('car-big')}}<span>большие объемы</span></li>
  		<li class="features__item features__item_car-croups">{{mixins.icon('car-croups')}}<span>доставка крупномеров</span></li>
  	</ul>
  </div>
</section>
<!-- end features -->