<!-- begin agronomist -->
<section class="agronomist agronomist_design" id="scroll-designer">
	<div class="container">
		<div class="agronomist__heading agronomist__heading_design">помощь <span>дизайнера</span></div>
		<div class="agronomist__content agronomist__content_design">
			<div class="agronomist__image-wrapper agronomist__image-wrapper_design">
				<img src="picture/design.png" alt="" class="agronomist__image agronomist__image_design">
			</div>
			<div class="agronomist__wrapper agronomist__wrapper_design">
				<div class="agronomist__sub-title">подзаголовок</div>
				<p class="agronomist__text">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p>
				<button class="agronomist__button agronomist__button_design js-btn-popup">получить консультацию</button>
			</div>

			<div class="painting"> {{mixins.icon('painting')}} </div>
		</div>
	</div>
</section>
<!-- end agronomist -->