<!-- begin agronomist -->
<section class="agronomist">
	<div class="container">
		<div class="agronomist__heading">помощь <span>дизайнера</span></div>
		<div class="agronomist__content">
			<div class="agronomist__image-wrapper agronomist__image-wrapper_design">
				<img src="img/design.png" alt="" class="agronomist__image agronomist__image_design">
			</div>
			<div class="agronomist__wrapper agronomist__wrapper_design">
				<div class="agronomist__title">заголовок</div>
				<div class="agronomist__sub-title">подзаголовок</div>
				<p class="agronomist__text">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p>
				<p class="agronomist__text">Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, condimentum rhoncus, sem quam semper libero, sit amet adipiscing</p>
				<p class="agronomist__text">lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci faucibus tincidunt.</p>
				<button class="agronomist__button agronomist__button_design">получить консультацию</button>
			</div>
		</div>
	</div>
</section>
<!-- end agronomist -->