<!-- begin elite -->
<section class="elite">
	<div class="elite__heading">элитные деревья</div>
	<ul class="elite__list">
		<li class="elite__item">
			<div class="elite__image"><img src="img/elite-cedar.jpg" alt=""></div>
			<div class="elite__caption">
				<div class="elite__title">кедр сибирский</div>
				<p class="elite__text">Украшают сады <br>и участки возле дома</p>
			</div>
			<p class="elite__price">от <span class="elite__size-price">652 000</span> руб</p>
		</li>
		<li class="elite__item">
			<div class="elite__image"><img src="img/elite-spruce.jpg" alt=""></div>
			<div class="elite__caption">
				<div class="elite__title">ель голубая</div>
				<p class="elite__text">Украшают сады <br>и участки возле дома</p>
			</div>
			<p class="elite__price">от <span class="elite__size-price">652 000</span> руб</p>
		</li>
		<li class="elite__item">
			<div class="elite__image"><img src="img/elite-fir.jpg" alt=""></div>
			<div class="elite__caption">
				<div class="elite__title">пихта</div>
				<p class="elite__text">Украшают сады <br>и участки возле дома</p>
			</div>
			<p class="elite__price">от <span class="elite__size-price">652 000</span> руб</p>
		</li>
	</ul>
</section>
<!-- end elite -->