<!-- begin exclusive -->
<section class="exclusive" id="scroll-exclusive">
	<div class="container">
		<div class="exclusive__title">эксклюзивные новинки</div>
		<div class="exclusive__slider">
			<div class="slider__next-exclusive"></div>
			<div class="slider__prev-exclusive"></div>
			<div class="exclusive__slides js-hero-exclusive">
				<div class="exclusive__slide">
					<div class="exclusive__slide-wrapper">
						<div class="exclusive__image"><img src="picture/exclusive-1.jpg" alt=""></div>
						<div class="exclusive__name">сосна крымская (черная)</div>
						<div class="exclusive__price">цена от <span>9000</span> р</div>
					</div>
				</div>
				<div class="exclusive__slide">
					<div class="exclusive__slide-wrapper">
						<div class="exclusive__image"><img src="picture/exclusive-2.jpg" alt=""></div>
						<div class="exclusive__name">пихта одноцветная</div>
						<div class="exclusive__price">цена от <span>24 000</span> р</div>
					</div>
				</div>
				<div class="exclusive__slide">
					<div class="exclusive__slide-wrapper">
						<div class="exclusive__image"><img src="picture/exclusive-3.jpg" alt=""></div>
						<div class="exclusive__name">ель сербская</div>
						<div class="exclusive__price">цена от <span>11 950</span> р</div>
					</div>
				</div>
				<div class="exclusive__slide">
					<div class="exclusive__slide-wrapper">
						<div class="exclusive__image"><img src="picture/exclusive-1.jpg" alt=""></div>
						<div class="exclusive__name">сосна крымская (черная)</div>
						<div class="exclusive__price">цена от <span>9000</span> р</div>
					</div>
				</div>
				<div class="exclusive__slide">
					<div class="exclusive__slide-wrapper">
						<div class="exclusive__image"><img src="picture/exclusive-2.jpg" alt=""></div>
						<div class="exclusive__name">пихта одноцветная</div>
						<div class="exclusive__price">цена от <span>24 000</span> р</div>
					</div>
				</div>
				<div class="exclusive__slide">
					<div class="exclusive__slide-wrapper">
						<div class="exclusive__image"><img src="picture/exclusive-3.jpg" alt=""></div>
						<div class="exclusive__name">ель сербская</div>
						<div class="exclusive__price">цена от <span>11 950</span> р</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end exclusive -->