<!-- begin exclusiv -->
<section class="exclusiv">
	<div class="exclusiv__wrap">
		<div class="exclusiv__title">ДОСТАВИЛИ И ВЫСАДИЛИ ЗА 1 ДЕНЬ</div>
		<div class="exclusiv__galery galery">
			<a class="galery__link" href="img/1.jpg" title="Посадили" alt="12" data-fancybox="images">
				<div class="galery__image-wrapper">
      				<img class="galery__small-images" title="1" alt="12" src="img/1.jpg" />
      			</div>
      		</a>
			<a class="galery__link" href="img/2.jpg" data-fancybox="images">
				<div class="galery__image-wrapper">
      				<img class="galery__small-images" src="img/2.jpg" />
      			</div>
      		</a>
			<a class="galery__link" href="img/3.jpg" data-fancybox="images">
				<div class="galery__image-wrapper">
      				<img class="galery__small-images" src="img/3.jpg" />
      			</div>
      		</a>
			<a class="galery__link" href="img/4.jpg" data-fancybox="images">
				<div class="galery__image-wrapper">
      				<img class="galery__small-images" src="img/4.jpg" />
      			</div>
      		</a>
			<a class="galery__link" href="img/5.jpg" data-fancybox="images">
				<div class="galery__image-wrapper">
      				<img class="galery__small-images" src="img/5.jpg" />
      			</div>
      		</a>
		</div>
		<button class="exclusiv__date js-btn-popup"><span>забронируйте дату доставки</span></button>
	</div>
</section>
<!-- end exclusiv -->