<!-- begin features -->
<section class="features" id="scroll-features">
  <div class="container">
  	<ul class="features__list">
  		<li class="features__item">{{mixins.icon('sami')}}<p>выращиваем <br>сами</p></li>
  		<li class="features__item features__item_logistick">{{mixins.icon('sertificat')}}<p>сертификация <br>деревьев</p></li>
  		<li class="features__item features__item_design">{{mixins.icon('ecolog')}}<p>экологический <br>район</p></li>
  		<li class="features__item features__item_nature">{{mixins.icon('green')}}<p>вечно зеленые <br>деревья</p></li>
  	</ul>
  </div>
</section>
<!-- end features -->