<!-- begin features -->
<section class="features" id="scroll-features">
  <div class="container">
  	<ul class="features__list">
  		<li class="features__item" style="background-image: url('/img/gift.png')"><p>удобрение <br>в подарок</p></li>
  		<li class="features__item features__item_logistick" style="background-image: url('/img/logistick.png')"><p>быстрая <br>доставка</p></li>
  		<li class="features__item features__item_design" style="background-image: url('/img/designs.png')"><p>консультация <br>дизайнера</p></li>
  		<li class="features__item features__item_nature" style="background-image: url('/img/nature.png')"><p>консультация <br>агронома</p></li>
  	</ul>
  </div>
</section>
<!-- end features -->