<!-- begin features -->
<section class="features" id="scroll-features">
  <div class="container">
  	<ul class="features__list">
  		<li class="features__item">{{mixins.icon('gift')}}<p>удобрение <br>в подарок</p></li>
  		<li class="features__item features__item_logistick">{{mixins.icon('fast')}}<p>быстрая <br>доставка</p></li>
  		<li class="features__item features__item_design">{{mixins.icon('disign')}}<p>консультация <br>дизайнера</p></li>
  		<li class="features__item features__item_nature">{{mixins.icon('agronom')}}<p>консультация <br>агронома</p></li>
  	</ul>
  </div>
</section>
<!-- end features -->