<!-- begin footer -->
<footer class="footer" id="scroll-footer">
	<div class="container">	
		<div class="footer__wrap">
			<div class="logo">
				<a href="#"><span class="logo__first">Планта</span><span class="logo__second">Торг</span></a>
			</div>
			<div class="footer__item">
				<div class="footer__title">деревья</div>
				<ul class="footer__list">
					<li><a href="#">Сосна</a></li>
					<li><a href="#">Ель</a></li>
					<li><a href="#">Кедр</a></li>
					<li><a href="#">Туя</a></li>
					<li><a href="#">Cосна голубая</a></li>
					<li><a href="#">Пихта</a></li>
					<li><a href="#">Декоративные</a></li>
				</ul>
			</div>
			<div class="footer__item">
				<div class="footer__title">информация</div>
				<ul class="footer__list">
					<li><a href="#">Скидки</a></li>
					<li><a href="#">О нас</a></li>
					<li><a href="#">Консультация</a></li>
					<li><a href="#">Деревья оптом</a></li>
					<li><a href="#">Статьи</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</div>
			<div class="footer__item">
				<div class="footer__title">для клиентов</div>
				<ul class="footer__list">
				<li><a href="#">Хвойные деревья</a></li>
				<li><a href="#">Плодовые деревья</a></li>
				<li><a href="#">Живая изгородь</a></li>
				<li><a href="#">Лиственные деревья</a></li>
				</ul>
			</div>
			<div class="footer__bottom">
				<div class="footer__contacts">
					<div class="footer__phone">+7 (495) 998-43-19</div>
					<p class="footer__email">vamsadik@mail.ru</p>
				</div>	
				<p class="footer__bottom-title">НИЗКИЕ ЦЕНЫ НА ТУИ ДОСТАВКА В ОБЛАСТЬ И ПО РФ ОПТ, РОЗНИЦА</p>
				<div class="footer__bottom-wrap">
					<div class="footer__bottom-vygoda">
						<p>ВЫГОДНАЯ ПОКУПКА <br>ТУИ ЗАПАДНОЙ</p>
					</div>
					<div class="footer__bottom-hotite">
						<p>хотите тую за 500 руб</p>
						<button>хочу</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- end footer -->