<!-- begin footer -->
<footer class="footer" id="scroll-footer">
	<div class="footer__wrap">
		<div class="footer__item">
			<div class="footer__title">деревья</div>
			<ul class="footer__list">
				<li><a href="#">Сосна</a></li>
				<li><a href="#">Ель</a></li>
				<li><a href="#">Кедр</a></li>
				<li><a href="#">Туя</a></li>
				<li><a href="#">Cосна голубая</a></li>
				<li><a href="#">Пихта</a></li>
				<li><a href="#">Декоративные</a></li>
			</ul>
		</div>
		<div class="footer__item">
			<div class="footer__title">информация</div>
			<ul class="footer__list">
				<li><a href="#">Скидки</a></li>
				<li><a href="#">О нас</a></li>
				<li><a href="#">Консультация</a></li>
				<li><a href="#">Деревья оптом</a></li>
				<li><a href="#">Статьи</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
		<div class="footer__item">
			<div class="footer__title">для клиентов</div>
			<ul class="footer__list">
			<li><a href="#">Хвойные деревья</a></li>
			<li><a href="#">Плодовые деревья</a></li>
			<li><a href="#">Живая изгородь</a></li>
			<li><a href="#">Лиственные деревья</a></li>
			</ul>
		</div>
		<div class="footer__contacts">
			<div class="footer__phone">+7(123) 333 77 77</div>
			<p class="footer__hour-work">пн-вс 9.00-20.00</p>
			<p class="footer__email">E-mail@E-mail.com</p>
			<address class="footer__address">
				Адрес:<br>
				Steven Bernson, Attorney at Law<br>
				1556 Broadway, suite 416<br>
				New York, NY, 10120, USA
			</address>
		</div>
	</div>
</footer>
<!-- end footer -->