<!-- begin exclusiv -->
<section class="galery">
	<ul class="galery__list">
		<li class="galery__item">
			<div class="galery__wrap watermark">
				<button class="js-galery-popup-button-close galery__popup-button"></button>
				<img src="img/works/6274573_orig.jpg">
			</div>
		</li>
		<li class="galery__item">
			<div class="galery__wrap watermark">
				<button class="js-galery-popup-button-close galery__popup-button"></button>
				<img src="img/works/Instan48.jpg">
			</div>
		</li>
		<li class="galery__item">
			<div class="galery__wrap watermark">
				<button class="js-galery-popup-button-close galery__popup-button"></button>
				<img src="img/works/2474635_orig.jpg">
			</div>
		</li>
		<li class="galery__item">
			<div class="galery__wrap watermark">
				<button class="js-galery-popup-button-close galery__popup-button"></button>
				<img src="img/works/02-privacy-hedges.jpg">
				
			</div>
		</li>
		<li class="galery__item">
			<div class="galery__wrap watermark">
				<button class="js-galery-popup-button-close galery__popup-button"></button>
				<img src="img/works/Instan49.jpg">
			</div>
		</li>
	</ul>
</section>
<!-- end exclusiv -->	


