<!-- begin goods -->
<section class="goods" id="scroll-goods">
	<div class="container">
		<div class="goods__title">голубая <span>ель</span></div>
		<div class="goods__images-wrapper">
			<div class="goods__image goods__image_big"><img src="img/goods-big-1.jpg" alt=""><div class="goods__sale">-20%</div></div>
			<div class="goods__image goods__image_small"><img src="img/goods-small-1-1.jpg" alt=""></div>
			<div class="goods__image goods__image_small"><img src="img/goods-small-1-2.jpg" alt=""></div>
		</div>
		<div class="goods__description">
			<table class="goods__table">
				<tr>
					<td class="goods__table-head">цена</td>
					<td><span>13500</span>р</td>
					<td><span>7500</span>р</td>
					<td class="active"><span>3500</span>р</td>
					<td><span>5500</span>р</td>
				</tr> 
				<tr>
					<td class="goods__table-head">высота</td>
					<td>10-13м</td>
					<td>7-9м</td>
					<td class="active">4-5м</td>
					<td>2-3м</td>
				</tr>
			</table>
			<button class="goods__button js-btn-popup">купить по акции</button>
		</div>
	</div>
	
	<div class="container">
		<div class="goods__title">кедр <span>обыкновенный</span></div>
		<div class="goods__images-wrapper">
			<div class="goods__image goods__image_big"><img src="img/goods-big-2.jpg" alt=""><div class="goods__sale">-20%</div></div>
			<div class="goods__image goods__image_small"><img src="img/goods-small-2-1.jpg" alt=""></div>
			<div class="goods__image goods__image_small"><img src="img/goods-small-2-2.jpg" alt=""></div>
		</div>
		<div class="goods__description">
			<table class="goods__table">
				<tr>
					<td class="goods__table-head">цена</td>
					<td><span>13500</span>р</td>
					<td><span>7500</span>р</td>
					<td class="active"><span>3500</span>р</td>
					<td><span>5500</span>р</td>
				</tr> 
				<tr>
					<td class="goods__table-head">высота</td>
					<td>10-13м</td>
					<td>7-9м</td>
					<td class="active">4-5м</td>
					<td>2-3м</td>
				</tr>
			</table>
			<button class="goods__button js-btn-popup">купить по акции</button>
		</div>
	</div>
</section>
<!-- end goods -->