<!-- end help-design --><!-- begin help-design -->
<section class="help-design help-design_agranom" id="scroll-help-design">
	<div class="container">
		<div class="help-design__heading">помощь <span>агронома</span></div>
		<div class="help-design__content">
			<div class="help-design__image-wrapper">
				<img src="img/design-photo2.png" alt="" class="help-design__image">
				<div class="help-design__painting">{{mixins.icon('painting')}}</div>
			</div>
			<div class="help-design__wrapper">
				<div class="help-design__title">СЕРГЕЙ ПАВЛОВИЧ</div>
				<div class="help-design__sub-title">Специалист в области Растениеводства</div>
				<p class="help-design__text">Благодоря услугам Агронома вы сможите правильно подготовить почву для посадки растений и обеспечить наиболее благоприятный уход за ними в дальнейшем</p>
				<button class="help-design__button js-btn-popup">получить консультацию</button>
			</div>
		</div>
	</div>
</section>
<!-- end help-agranom -->