<!-- begin help-design -->
<section class="help-design" id="scroll-help-design">
	<div class="container">
		<div class="help-design__heading">помощь <span>дизайнера</span></div>
		<div class="help-design__content">
			<div class="help-design__image-wrapper">
				<img src="img/design-photo1.png" alt="" class="help-design__image">
				<div class="help-design__painting">{{mixins.icon('painting')}}</div>
			</div>
			<div class="help-design__wrapper">
				<div class="help-design__title">виктория моисеевна</div>
				<div class="help-design__sub-title">Специалист в области Ландшафтного дизайна</div>
				<p class="help-design__text">Услуги Ландшафтного дизайнера помогут облагородить ваш участок, придав ему эксклюзивный внешний вид добавив ункального приемущества.</p>
				<button class="help-design__button js-btn-popup">получить консультацию</button>
			</div>
		</div>
	</div>
</section>
<!-- end help-design -->