<!-- begin hero -->

<div class="hero" id="scroll-hero">
	<div class="top-line">
		<div class="top-line__wrapper">
			<div class="top-line__logo logo">
				<a href="#"><span class="logo__first">Планта</span><span class="logo__second">Торг</span></a>
			</div>
				<button class="hamburger hamburger--slider js-hamburger" type="button">
					<span class="hamburger-box">
					<span class="hamburger-inner"></span>
					</span>
				</button>
				<ul class="top-line__main-menu main-menu">
					<li class="main-menu__item"><a href="#scroll-hero" class="main-menu__link main-menu__link-is-active go_to">главная</a></li>
					<li class="main-menu__item"><a href="#scroll-stock" class="main-menu__link go_to">акции</a></li>
					<li class="main-menu__item"><a href="#scroll-product" class="main-menu__link go_to">новинки</a></li>
					<li class="main-menu__item"><a href="#scroll-elite" class="main-menu__link go_to">элитные деревья</a></li>
					<li class="main-menu__item"><a href="#scroll-small-woods" class="main-menu__link go_to">декоративные деревья</a></li>
					<li class="main-menu__item"><a href="#" class="main-menu__link go_to">доставка</a></li>
					<li class="main-menu__item"><a href="#scroll-map" class="main-menu__link go_to">контакты</a></li>
				</ul>
			<ul class="top-line__contacts contacts">
				<li class="contacts__item"><a href="tel:+74959984319" class="contacts__link contacts__link_phone">+7 (495) 998-43-19</a></li>
				<li class="contacts__item"><a href="mailto:vamsadik@mail.ru" class="contacts__link contacts__link_email">vamsadik@mail.ru</a></li>
				<li><button class='contacts__button js-btn-popup'>отправить заказ</button></li>
			</ul>
			<a class="top-button go_to" href="#">Наверх</a>
		</div>
	</div>
	<div class="slider">
		<div class="slider__arrows">
			<div class="slider__prev"></div>
			<div class="slider__next"></div>
		</div>
		<div class="slides js-hero">
			<div class="slide"  style="background-image: url('img/slide-1.jpg');">
				<div class="slide__content">
					<h1 class="slide__title">лучшие пихты</h1>
					<div class="slide__sub-title">только в марте</div>
					<button class="button slide__button">посмотреть питомник</button>
				</div>
			</div>
			<div class="slide"  style="background-image: url('img/slide-2.jpg');">
				<div class="slide__content">
					<div class="slide__title">хвойные деревья</div>
					<div class="slide__sub-title">всегда зеленые</div>
					<button class="button slide__button">посмотреть питомник</button>
				</div>
			</div>
			<div class="slide"  style="background-image: url('img/slide-3.jpg');">
				<div class="slide__content">
					<div class="slide__title slide__title_large-scale">деревья крупномеры</div>
					<div class="slide__sub-title">для посадки в ноябре</div>
					<button class="button slide__button slide__button_large-scale">посмотреть питомник</button>
				</div>
			</div>
			<div class="slide"  style="background-image: url('img/slide-4.jpg');">
				<div class="slide__content">
					<div class="slide__title slide__title_fruit-trees">плодовые деревья</div>
					<div class="slide__sub-title slide__sub-title_fruit-trees">в нашем питомнике</div>
					<button class="button slide__button">посмотреть питомник</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end hero -->