<!-- begin maps -->
<section class="map" id="scroll-map">
			<div class="map__caption">
				<div class="map__caption_title">выбрать, оплатить и забрать самостоятельно вы можете по адресу:</div>
				<div class="map__caption_yellow">12км от мкад по рублево-успенскому ш. в область, село большое сареево</div>
				<div class="map__caption_text">ежедневно с <b>8.00</b> до <b>20.00</b></div>
				<div class="map__caption_sub">без перерывов и выходных</div>
			</div>
            </div>
            <div class="yandex-map">
           		<div id="map" charset="utf-8" style="width: 100%; height: 100%"></div>
            </div>
</section>
<!-- end maps -->