<!-- begin maps -->
<section class="map" id="scroll-map">
			<div class="map__caption">
				<div class="map__caption_title">выбрать, оплатить и забрать самостоятельно вы можете по адресу:</div>
				<div class="map__caption_yellow">12км от мкад по рублево-успенскому ш. в область, село большое сареево</div>
				<div class="map__caption_text">ежедневно с <b>8.00</b> до <b>20.00</b></div>
				<div class="map__caption_sub">без перерывов и выходных</div>
			</div>
			<div class="map__yandex-map">
				<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3df179961ce00fb1c471d3cdc5256b98b0baa16c2449df5c5563af480977ff22&amp;width=100%&amp;height=440&amp;&amp;margin-left:auto&amp;margin-right:auto&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
</section>
<!-- end maps -->