<!-- begin nursery -->
<section class="nursery" id="scroll-nursery">
	<div class="container">
		<div class="nursery__title">наш питомник</div>
		<div class="grid">
            <div class="big-images">
    			<div class="grid-item">
                    <img src="picture/pitomnik-big-1.jpg" alt="">
                    <div class="nursery__caption"><span>плодовые деревья</span></div>
                </div>
    			<div class="grid-item">
                    <img src="picture/pitomnik-big-2.jpg" alt="">
                    <div class="nursery__caption"><span>хвойные деревья</span></div>
                </div>
    			<div class="grid-item">
                    <img src="picture/pitomnik-big-3.jpg" alt="">
                    <div class="nursery__caption"><span>кустарники</span></div>
                </div>
    			<div class="grid-item">
                    <img src="picture/pitomnik-big-4.jpg" alt="">
                    <div class="nursery__caption"><span>лиственные деревья</span></div>
                </div>
            </div>
            <div class="small-images-video">
                <div class="small-images">
                    <div class="small-images-row">
                        <div class="small-image">
                               <img src="picture/pitomnik-small-1.jpg" alt="">
                        </div>
                        <div class="small-image">
                            <img src="picture/pitomnik-small-2.jpg" alt="">
                        </div>
                    </div>
                    <div class="small-images-row">
                        <div class="small-image">
                            <img src="picture/pitomnik-small-3.jpg" alt="">
                        </div>
                        <div class="small-image">
                            <img src="picture/pitomnik-small-4.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="video js-btn-popup-video">
                        <img src="picture/video.png" alt="">
                        <span class="play"></span>
                </div>
            </div>
        </div>
	</div>
</section>
<!-- end nursery -->