<!-- begin nursery -->
<section class="nursery">
	<div class="container">
		<div class="nursery__title">нащ питомник</div>
		<div class="grid" data-masonry='{"itemSelector": ".grid-item", "columnWidth": 285, "gutter": 20}'>
  			<div class="grid-item nursery__image-big"><img src="img/pitomnik-big-1.jpg" alt=""><div class="nursery__caption">плодовые деревья</div></div>
  			<div class="grid-item nursery__image-big"><img src="img/pitomnik-big-2.jpg" alt=""><div class="nursery__caption">хвойные деревья</div></div>
  			<div class="grid-item nursery__image-big"><img src="img/pitomnik-big-3.jpg" alt=""><div class="nursery__caption">кустарники</div></div>
  			<div class="grid-item nursery__image-big"><img src="img/pitomnik-big-4.jpg" alt=""><div class="nursery__caption">лиственные деревья</div></div>
  			<div class="grid-item"><img src="img/pitomnik-small-1.jpg" alt=""></div>
  			<div class="grid-item"><img src="img/pitomnik-small-2.jpg" alt=""></div>
  			<div class="grid-item grid-item--width2"><iframe width="590" height="400" src="https://www.youtube.com/embed/L0v3SnMUu14" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
  			<div class="grid-item"><img src="img/pitomnik-small-3.jpg" alt=""></div>
  			<div class="grid-item"><img src="img/pitomnik-small-4.jpg" alt=""></div>
		</div>
	</div>
</section>
<!-- end nursery -->