<!-- begin plant -->
<section class="plant">
	<div class="plant__wrap">
		<div class="plant__title">Наши специалисты осуществляют посадку туи</div>
		<p class="plant__text plant__text_active">Посадка кустарников обычно происходит поздней осенью или ранней весной. Посадка декоративных кустарников — предполагает создание живописной группы, но иногда крупные и обильно цветущие кустарники (например, гортензию) сажают отдельно. Посадка деревьев Посадка кустарников и деревьев — основное занятие садовода на начальном этапе — при закладке сада.</p>
	</div>
</section>
<!-- end plant -->