<!-- begin product -->
<section class="product" id="scroll-product">
	<div class="container">
		<div class="product__title">сосна <span class="product__title_blue">обыкновенная</span> <span class="product_tile_extra">(extra)</span></div>
		<div class="product__sale">
			<div class="product__sale-size">50%</div>
			<div class="product__sale-caption">на деревья в <br>питомнике</div>
		</div>
		<div class="product__content">
			<div class="product__image">
				<img src="img/product-1.jpg" alt="сосна обыкновенная (EXTRA)">
				<div class="product__sale-image">
					<span>50%</span>
				</div>
				<div class="product__quality"><img src="img/quality.png" alt=""></div>
			</div>
			<div class="product__stock product-stock">
				<div class="product-stock__title"><span>акция</span></div>
				<div class="product-stock__content">
					<p class="product-stock__text">только на деревья 2-3м<br><s>10 000 р</s></p>
					<p class="product-stock__old-price">5000</p>
					<button class="product-stock__button">купить со скидкой</button>
					<p class="product-stock__text product-stock__text_bg">до 17.03.2017</p>
				</div>
			</div>
			<div class="product__remainder remainder">
				<div class="remainder__content">
					<p class="remainder__text s">Быстрая доставка по Москве и <br>Московской области</p>
					<p class="remainder__text s">Посадка деревьев за <span>1 день</span></p>
					<p class="remainder__phone">+7 (495) 764-97-07</p>
				</div>
				<div class="remainder__image">
					<img src="/img/payment.png" alt="">
				</div>
			</div>
			<div class="product__caption caption">
				<p class="caption__text">Дерево высотой 25—40 м и диаметром ствола 0,5—1,2 м</p>
				<p class="caption__text caption__text_bold">рекомендовано для посадки в июле</p>
			</div>
		</div>
	</div>
</section>
<!-- end product -->