<!-- begin product -->
<section class="product" id="scroll-product">
	<div class="product__wrapper">
			<div class="product__title">сосна <span class="product__title_blue">обыкновенная</span> <span class="product_tile_extra">(extra)</span></div>
			<div class="product__sale">
				<div class="product__sale-size">50%</div>
				<div class="product__sale-caption">на деревья в <br>питомнике</div>
			</div>
			<div class="product__list">
				<div class="product__image">
					<img src="img/product-1.jpg" alt="сосна обыкновенная (EXTRA)">
					<div class="product__sale-image">
						<span>50%</span>
					</div>
					<div class="product__quality"><img src="img/quality.png" alt=""></div>
				</div>


				<div class="product__stock product-stock">
					<div class="product-stock__title"><span>акция</span></div>
					<div class="product-stock__content">
						<p class="product-stock__text">только на деревья 2-3м<br><s>10 000 р</s></p>
						<p class="product-stock__old-price">5000</p>
						<button class="product-stock__button js-btn-popup">купить со скидкой</button>
						<p class="product-stock__text product-stock__text_bg">до 17.03.2017</p>
					</div>
				</div>


				<div class="product__remainder remainder">
					<div class="remainder__wrapper">
						<div class="remainder__content">
							<p class="remainder__text">Быстрая доставка по Москве и <br>Московской области</p>
							<p class="remainder__text">Посадка деревьев за <span>1 день</span></p>
							<p class="remainder__phone">+7 (495) 764-97-07</p>
						</div>
					</div>
					<div class="remainder__image">
						<img src="/img/payment.png" alt="">
					</div>
				</div>

				
				<div class="product__caption caption">
					<p class="caption__text">Дерево высотой 25—40 м и диаметром ствола 0,5—1,2 м</p>
					<p class="caption__text caption__text_bold">рекомендовано для посадки в июле</p>
				</div>
		</div>
		<div class="product__info info">
			<div class="info__wrapper">
				<div class="info__title">информация о наличии</div>
				<table class="info__table info-table transp">
					<tr class="info-table__row info-table__row_first">
						<td class="info-table__head">Высота</td>
						<td>120-140 см</td>
						<td>140-160 см</td>
						<td>160-180 см</td>
						<td>180-200 см</td>
						<td>220-440 см</td>
					</tr>
					<tr class="info-table__row info-table__row_grow">
						<td class="info-table__head">Цена</td>
						<td class="hov">1000 руб</td>
						<td class="hov">2000 руб</td>
						<td class="hov">3500 руб</td>
						<td class="hov hov-active">5990 руб</td>
						<td class="hov">10100 руб</td>
					</tr>
				</table>
				<table class="info__tablle-small">
					<tr>
						<td>
							ВЫСОТА
						</td>
						<td class="info__tablle-small_price">
							ЦЕНА
						</td>
					</tr>
					<tr>
						<td>
							120-140 см
						</td>
						<td class="info__tablle-small_price">
							1000 руб
						</td>
					</tr>
					<tr>
						<td>
							140-160 см
						</td>
						<td class="info__tablle-small_price">
							2000 руб
						</td>
					</tr>
					<tr>
						<td>
							160-180 см
						</td>
						<td class="info__tablle-small_price">
							3500 рую
						</td>
					</tr>
					<tr>
						<td>
							180-200 см
						</td>
						<td class="info__tablle-small_price">
							5990 руб
						</td>
					</tr>
					<tr>
						<td>
							220-440 см
						</td>
						<td class="info__tablle-small_price">
							10100 руб
						</td>
					</tr>
				</table>
				<div class="info__button-wrap">
					<button class="info__button js-btn-popup">купить</button>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end product -->