<!-- begin slider-section -->
<section class="slider-section">

      <!-- begin slider -->
      <div class="slider">
        <div class="slider__next"></div>
        <div class="slider__prev"></div>
        <div class="slider__slides js-hero">
          <div class="slider__slide slide" style="background-image: url(img/slide-1.jpg)">
            <div class="container">
              <p class="slide__title">лучшие пихты</p>
              <p class="slide__sub-title">только в марте</span></p>
              <button class="btn slide__btn slide__btn_black">посмотреть питомник</button>
            </div>
          </div>
          <div class="slider__slide slide" style="background-image: url(img/slide-2.jpg)">
            <div class="container">
              <p class="slide__title">хвойные деревья</p>
              <p class="slide__sub-title">всегда зеленые</p>
              <button class="btn slide__btn">посмотреть питомник</button>
            </div>
          </div>
          <div class="slider__slide slide" style="background-image: url(img/slide-3.jpg)">
            <div class="container">
              <p class="slide__title slide__title_blue">деревья крупномеры</p>
              <p class="slide__sub-title">для посадки в ноябре</p>
              <button class="btn slide__btn slide__btn_blue">посмотреть питомник</button>
            </div>
          </div>
          <div class="slider__slide slide" style="background-image: url(img/slide-4.jpg)">
            <div class="container">
              <p class="slide__title slide__title_black">плодовые деревья</p>
              <p class="slide__sub-title slide__sub-title_black">в нашем питамнике</p>
              <button class="btn slide__btn slide__btn_black">посмотреть питомник</button>
            </div>
          </div>
        </div>
      </div>
      <!-- end slider -->

</section>
<!-- end slider-section -->