<!-- begin small-woods -->
<section class="small-woods">
	<div class="container">
		<div class="small-woods__item">
			<div class="small-woods__item-title">сосна черная штамб</div>
			<div class="small-woods__image">
				<img src="../img/small-woods-1.jpg" alt="">
			</div>
		</div>

		<div class="small-woods__stock">
			<div class="small-woods__title">акция</div>
			<div class="small-woods__only">только на деревья 2-3м</div>
			<div class="small-woods__old-price">10 000</div>
			<div class="small-woods__new-price">5000</div>
			<div class="small-woods__end-date">скидка действует до 13.03.2017</div>
			<button class="small-woods__button">купить сейчас</button>
		</div>

		<div class="small-woods__item small-woods__item_right">
			<div class="small-woods__item-title">сосна черная штамб</div>
			<div class="small-woods__image">
				<img src="../img/small-woods-2.jpg" alt="">
			</div>
		</div>
	</div>
</section>
<!-- end small-woods -->