<!-- begin small-woods -->
<section class="small-woods">
	<div class="container">
		<div class="small-woods__item">
			<div class="small-woods__stock stock-sw">
				<div class="stock-sw__title">акция</div>
				<div class="stock-sw__only">только на деревья</div>
				<div class="stock-sw__old-price"><s>10 000</s></div>
				<div class="stock-sw__price">5000</div>
				<div class="stock-sw__sale">скидка действует до 13.03.2017</div>
				<button class="stock-sw__button">купить сейчас</button>
				<div class="small-woods__image">
					<p class="small-woods__text">сосна черная штамб</p>
					<div class="small-woods__wrap">
						<img src="img/small-woods-1.jpg" alt="">
						<div class="small-woods__sale">-50%</div>
					</div>
				</div>
				<div class="small-woods__image small-woods__image_r">
					<p class="small-woods__text">ель голубая штамб</p>
					<div class="small-woods__wrap">
						<img src="img/small-woods-2.jpg" alt="">
						<div class="small-woods__sale small-woods__sale_r">-50%</div>
					</div>
				</div>
			</div>
		</div>
		<div class="small-woods__item">
			<div class="small-woods__stock stock-sw">
				<div class="stock-sw__title">акция</div>
				<div class="stock-sw__only">только на деревья</div>
				<div class="stock-sw__old-price"><s>10 000</s></div>
				<div class="stock-sw__price">5000</div>
				<div class="stock-sw__sale">скидка действует до 13.03.2017</div>
				<button class="stock-sw__button">купить сейчас</button>
				<div class="small-woods__image">
					<p class="small-woods__text">ель шаровидная</p>
					<div class="small-woods__wrap">
						<img src="img/small-woods-3.jpg" alt="">
						<div class="small-woods__sale">-50%</div>
					</div>
				</div>
				<div class="small-woods__image small-woods__image_r">
					<p class="small-woods__text small-woods__text_r">сосна шаровидная</p>
					<div class="small-woods__wrap">
						<img src="img/small-woods-4.jpg" alt="">
						<div class="small-woods__salesmall-woods__sale_r">-50%</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end small-woods -->