<!-- begin stock -->
<section class="stock">
    <div class="container">
      <div class="stock__content">
        <h2 class="stock__title">успей!</h2>
        <p class="stock__text">украсить сад свежими впечатлениями</p>
        <div class="stock__term">только до 31.03.2017 и не днем больше</div>
      </div>
      <div class="stock__form forma-stock">
        <h3 class="forma-stock__title">заполните форму</h3>
        <form action="">
          <input type="text" name="name" placeholder="ваше имя">
          <input type="text" name="phone" placeholder="телефон">
          <input type="text" name="email" placeholder="e-mail">
          <textarea name="message" id="" cols="30" rows="10" placeholder="сообщение"></textarea>
          <button>нажми меня</button>
        </form>
      </div>
    </div>

</section>
<!-- end stock -->