<!-- begin top-line -->
<div class="top-line">
    <div class="top-line__wrapper">
      <div class="top-line__logo logo">
        <a href="#"><span class="logo__first">Планта</span><span class="logo__second">Торг</span></a>
      </div>
      <ul class="top-line__main-menu main-menu">
        <li class="main-menu__item"><a href="#" class="main-menu__link main-menu__link-is-active">главная</a></li>
        <li class="main-menu__item"><a href="#" class="main-menu__link">акции</a></li>
        <li class="main-menu__item"><a href="#" class="main-menu__link">новинки</a></li>
        <li class="main-menu__item"><a href="#" class="main-menu__link">элитные деревья</a></li>
        <li class="main-menu__item"><a href="#" class="main-menu__link">декоративные деревья</a></li>
        <li class="main-menu__item"><a href="#" class="main-menu__link">доставка</a></li>
        <li class="main-menu__item"><a href="#" class="main-menu__link">контакты</a></li>
      </ul>
      <ul class="top-line__contacts contacts">
        <li class="contacts__item"><a href="#" class="contacts__link contacts__link_phone">+7 (495) 998-43-19</a></li>
        <li class="contacts__item"><a href="#" class="contacts__link contacts__link_email">vamsadik@mail.ru</a></li>
      </ul>
    </div>
</div>
<!-- end top-line -->