<!-- begin works -->
<section class="works" id="scroll-works">
	<div class="container">
		<div class="works__heading">примеры <span class="works__heading_blue">работ</span></div>
		<div class="works__subtitle">посмотрите как может выглядеть ваш сад</div>
		<ul class="works__list">
			<li class="works__item">
				<div class="works__image"><img src="img/works-1.jpg" alt=""></div>
				<div class="works__caption">
					<span class="works__place">Поселок Жулебино</span>
					<span class="works__area">площадь 70 кв. м.</span>
				</div>
			</li>
			<li class="works__item">
				<div class="works__image"><img src="img/works-2.jpg" alt=""></div>
				<div class="works__caption">
					<span class="works__place">Поселок Рублево-1</span>
					<span class="works__area">площадь 25 кв. м.</span>
				</div>
			</li>
			<li class="works__item">
				<div class="works__image"><img src="img/works-3.jpg" alt=""></div>
				<div class="works__caption">
					<span class="works__place">Поселок Горки-6</span>
					<span class="works__area">площадь 43 кв. м.</span>
				</div>
			</li>
			<li class="works__item">
				<div class="works__image"><img src="img/works-4.jpg" alt=""></div>
				<div class="works__caption">
					<span class="works__place">Поселок Кембридж</span>
					<span class="works__area">площадь 18 кв. м.</span>
				</div>
			</li>
		</ul>
		<button class="works__button js-btn-popup">получить консультацию</button>

	</div>
</section>
<!-- end works -->