{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html lang="ru">
  <head>
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta name="description" content="У нас вы можете купить тую смарагд, тую брабант, тую колумну, можжевельники с посадкой. В нашем ассортименте вы найдете крупномеры, плодовые и лиственные деревья, а так же кустарники. Качественно и недорого.">
    <meta name="keywords" content="купить тую, тую смарагд, туя смарагд, туя брабант, тую брабант, тую колумну, туя колумна, купить можжевельник, купить можжевельники с посадкой, купить тую с посадкой">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#fff" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <link rel="stylesheet" media="all" href="css/app.css" />
    {# {% include "../partials/_media-tags.html" %} #}
  </head>
  <body>

    <!-- BEGIN content -->
      {% block content %}{% endblock %}
    <!-- END content -->

    <!-- BEGIN scripts -->
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <!-- END scripts -->

  </body>
</html>
