.icon-agronom {
  width: 0.81em;
  height: 1em;
  fill: initial;
}
.icon-car-big {
  width: 2.21em;
  height: 1em;
  fill: initial;
}
.icon-car-croups {
  width: 1.91em;
  height: 1em;
  fill: initial;
}
.icon-car-manipulator {
  width: 1.82em;
  height: 1em;
  fill: initial;
}
.icon-car-small {
  width: 1.56em;
  height: 1em;
  fill: initial;
}
.icon-disign {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-fast {
  width: 1.9em;
  height: 1em;
  fill: initial;
}
.icon-gift {
  width: 0.9em;
  height: 1em;
  fill: initial;
}
