$icons: (0:0)
$icons: map-merge($icons,('arrow-down': (X: -629px, Y:-127px, W: 42px, H: 37px, TW: 713px, TH: 512px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('arrow-exclusive': (X: -666px, Y:-174px, W: 23px, H: 43px, TW: 713px, TH: 512px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('arrow': (X: -182px, Y:-126px, W: 192px, H: 104px, TW: 713px, TH: 512px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('car-big': (X: -221px, Y:0px, W: 230px, H: 104px, TW: 713px, TH: 512px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('car-croups': (X: 0px, Y:-126px, W: 172px, H: 128px, TW: 713px, TH: 512px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('car-manipulator': (X: 0px, Y:0px, W: 211px, H: 116px, TW: 713px, TH: 512px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('car-small': (X: -138px, Y:-264px, W: 154px, H: 99px, TW: 713px, TH: 512px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('car': (X: -302px, Y:-264px, W: 99px, H: 60px, TW: 713px, TH: 512px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('counter': (X: 0px, Y:-264px, W: 128px, H: 128px, TW: 713px, TH: 512px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('designs': (X: -461px, Y:-103px, W: 114px, H: 109px, TW: 713px, TH: 512px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('fir-tree': (X: -461px, Y:-222px, W: 96px, H: 116px, TW: 713px, TH: 512px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('gift': (X: 0px, Y:-402px, W: 100px, H: 110px, TW: 713px, TH: 512px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('logistick': (X: -461px, Y:0px, W: 158px, H: 93px, TW: 713px, TH: 512px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('nature': (X: -629px, Y:0px, W: 84px, H: 117px, TW: 713px, TH: 512px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('next': (X: -629px, Y:-174px, W: 27px, H: 48px, TW: 713px, TH: 512px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('prev': (X: -629px, Y:-232px, W: 26px, H: 49px, TW: 713px, TH: 512px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)  

//
//.icon-arrow-down
//  width: 42px
//  height: 37px
//  background-image: url('../img/sprite.png')
//  background-position: -629px -127px
//
//.icon-arrow-exclusive
//  width: 23px
//  height: 43px
//  background-image: url('../img/sprite.png')
//  background-position: -666px -174px
//
//.icon-arrow
//  width: 192px
//  height: 104px
//  background-image: url('../img/sprite.png')
//  background-position: -182px -126px
//
//.icon-car-big
//  width: 230px
//  height: 104px
//  background-image: url('../img/sprite.png')
//  background-position: -221px 0px
//
//.icon-car-croups
//  width: 172px
//  height: 128px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -126px
//
//.icon-car-manipulator
//  width: 211px
//  height: 116px
//  background-image: url('../img/sprite.png')
//  background-position: 0px 0px
//
//.icon-car-small
//  width: 154px
//  height: 99px
//  background-image: url('../img/sprite.png')
//  background-position: -138px -264px
//
//.icon-car
//  width: 99px
//  height: 60px
//  background-image: url('../img/sprite.png')
//  background-position: -302px -264px
//
//.icon-counter
//  width: 128px
//  height: 128px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -264px
//
//.icon-designs
//  width: 114px
//  height: 109px
//  background-image: url('../img/sprite.png')
//  background-position: -461px -103px
//
//.icon-fir-tree
//  width: 96px
//  height: 116px
//  background-image: url('../img/sprite.png')
//  background-position: -461px -222px
//
//.icon-gift
//  width: 100px
//  height: 110px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -402px
//
//.icon-logistick
//  width: 158px
//  height: 93px
//  background-image: url('../img/sprite.png')
//  background-position: -461px 0px
//
//.icon-nature
//  width: 84px
//  height: 117px
//  background-image: url('../img/sprite.png')
//  background-position: -629px 0px
//
//.icon-next
//  width: 27px
//  height: 48px
//  background-image: url('../img/sprite.png')
//  background-position: -629px -174px
//
//.icon-prev
//  width: 26px
//  height: 49px
//  background-image: url('../img/sprite.png')
//  background-position: -629px -232px
//