$icons: (0:0)
$icons: map-merge($icons,('arrow-exclusive': (X: -384px, Y:-126px, W: 23px, H: 43px, TW: 575px, TH: 490px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('arrow': (X: -182px, Y:-126px, W: 192px, H: 104px, TW: 575px, TH: 490px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('car-big': (X: -221px, Y:0px, W: 230px, H: 104px, TW: 575px, TH: 490px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('car-croups': (X: 0px, Y:-126px, W: 172px, H: 128px, TW: 575px, TH: 490px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('car-manipulator': (X: 0px, Y:0px, W: 211px, H: 116px, TW: 575px, TH: 490px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('car-small': (X: 0px, Y:-264px, W: 154px, H: 99px, TW: 575px, TH: 490px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('car': (X: -332px, Y:-264px, W: 99px, H: 60px, TW: 575px, TH: 490px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('design': (X: -461px, Y:0px, W: 114px, H: 109px, TW: 575px, TH: 490px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('fir-tree': (X: -461px, Y:-119px, W: 96px, H: 116px, TW: 575px, TH: 490px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('gift': (X: -461px, Y:-245px, W: 100px, H: 110px, TW: 575px, TH: 490px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('logistick': (X: -164px, Y:-264px, W: 158px, H: 93px, TW: 575px, TH: 490px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('nature': (X: 0px, Y:-373px, W: 84px, H: 117px, TW: 575px, TH: 490px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)  

//
//.icon-arrow-exclusive
//  width: 23px
//  height: 43px
//  background-image: url('../img/sprite.png')
//  background-position: -384px -126px
//
//.icon-arrow
//  width: 192px
//  height: 104px
//  background-image: url('../img/sprite.png')
//  background-position: -182px -126px
//
//.icon-car-big
//  width: 230px
//  height: 104px
//  background-image: url('../img/sprite.png')
//  background-position: -221px 0px
//
//.icon-car-croups
//  width: 172px
//  height: 128px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -126px
//
//.icon-car-manipulator
//  width: 211px
//  height: 116px
//  background-image: url('../img/sprite.png')
//  background-position: 0px 0px
//
//.icon-car-small
//  width: 154px
//  height: 99px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -264px
//
//.icon-car
//  width: 99px
//  height: 60px
//  background-image: url('../img/sprite.png')
//  background-position: -332px -264px
//
//.icon-design
//  width: 114px
//  height: 109px
//  background-image: url('../img/sprite.png')
//  background-position: -461px 0px
//
//.icon-fir-tree
//  width: 96px
//  height: 116px
//  background-image: url('../img/sprite.png')
//  background-position: -461px -119px
//
//.icon-gift
//  width: 100px
//  height: 110px
//  background-image: url('../img/sprite.png')
//  background-position: -461px -245px
//
//.icon-logistick
//  width: 158px
//  height: 93px
//  background-image: url('../img/sprite.png')
//  background-position: -164px -264px
//
//.icon-nature
//  width: 84px
//  height: 117px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -373px
//