.agronomist
	background-color: #525252
	padding: 48px 0
	.container
		padding: 0 80px
	+r(1400)
		zoom: .95
	&__heading
		text-align: center
		font-family: Akrobat
		font-size: 50px
		font-weight: 400
		text-transform: uppercase
		color: #e7e0d6
		margin-bottom: 30px
		span
			color: #3eb5f1
		+r(930)
			font-size: 55px
		+r(540)
			font-size: 50px
		+r(400)
			font-size: 30px
	&__content
		position: relative
		+clr
		+r(930)
	&__wrapper
		max-width: 440px
		float: left
		margin-right: 40px
		&_design
			float: right
		+r(930)
			margin: 0 auto
			width: 70%
		+r(540)
			float: none
			width: 100%
		
	&__image-wrapper
		max-width: 520px
		position: relative
		float: right
		img
			width: 100%
		+r(1100)
			width: 450px
		+r(1000)
			width: 400px
		+r(930)
			width: 25%
			float: left
			margin-right: 20px
		+r(540)
			width: 50%
			margin: 0 auto 20px
			float: none
		&:after
			position: absolute
			display: block
			content: ''
			border: 1px solid #fff
			top: 10px
			bottom: 10px
			left: 10px
			right: 10px
		&_design
			position: absolute
			left: 0
			bottom: -95px
			&:after
				border: none
			+r(930)
				position: static
			
	&__title
		color: #e7e0d6
		font-family: Akrobat
		font-size: 36px
		font-weight: 700
		text-transform: uppercase
		margin-bottom: 17px
		+r(540)
			display: none
	&__sub-title
		color: #3eb5f1
		font-family: Akrobat
		font-size: 24px
		font-weight: 700
		text-transform: uppercase
		margin-bottom: 19px
		+r(540)
			display: none
	&__text
		color: #fefefe
		font-family: Akrobat
		font-size: 16px
		font-weight: 400
		text-transform: uppercase
		margin-bottom: 25px
		+r(540)
			display: none
		&::last-child
			margin-bottom: 11px
	&__button
		padding: 15px 25px
		background-color: transparent 
		text-decoration: none
		border: 2px solid #6ac0f3
		border-radius: 24px
		color: #ffffff
		font-family: Akrobatbold
		/*semi bold*/
		font-size: 16px
		text-transform: uppercase
		&_design
		+r(540)
			display: block
			margin: 0 auto
