.clients
	padding: 40px 0
	+r(800)
		padding-bottom: 0px
	+r(530)
		padding: 20px 0 0
	&__heading
		color: #1f1f1f
		font-family: Akrobat
		font-size: 50px
		text-transform: uppercase
		margin-bottom: 30px
		text-align: center
		+r(530)
			font-size: 30px
			margin-bottom: 15px
	&__list
		padding: 0 70px
		font-size: 0
		vertical-align: top
		+r(1240)
			padding: 0
			text-align: center
	&__item
		+clr
		margin-bottom: 70px
		&:last-child
			margin-bottom: 0
		+r(1240)
			margin: 0 20px 20px 20px
			width: 25%
			display: inline-block
			vertical-align: top
			margin-bottom: 0
		+r(700)
			margin: 0 10px 10px 10px 
	&__image
		float: left
		margin-left: 144px
		max-width: 305px
		width: 100%
		&_r
			float: right
			margin-left: auto
			margin-right: 144px
		+r(1240)
			float: none
			margin: 0 auto 20px
		+r(1230)
		img
			width: 100%
	&__caption
		float: right
		max-width: 500px
		&_r
			float: left
		+r(1240)
			float: none
			margin: 0 auto
			text-align: center
		+r(530)
	&__name
		font-family: Akrobatbold
		font-size: 27px
		text-transform: uppercase
		margin-bottom: 20px
		+r(1240)
			min-height: 70px
		+r(1100)
			font-size: 22px
		+r(700)
			font-size: 18px
		+r(530)
			font-size: 14px
			height: 50px
			overflow: hidden
		br
			display: none
			+r(1100)
				display: block
	&__do
		color: #3b3b3b
		font-family: Akrobat
		font-size: 17px
		text-transform: uppercase
		margin-bottom: 23px
		+r(1100)
			display: none
		+r(530)
			font-size: 12px
	&__review-title
		color: #4890bd
		font-family: Akrobat
		font-size: 17px
		text-transform: uppercase
		margin-bottom: 20px
		+r(1240)
			margin-bottom: 5px
		+r(1100)
			display: none
		+r(530)
			display: none
	&__review-text
		color: #3b3b3b
		font-family: Akrobat
		font-size: 16px
		+r(1240)
			text-align: justify
		+r(1100)
			display: none
		+r(530)
			display: none

