.clients
	padding: 80px 0
	+r(530)
		padding: 20px 0
	&__heading
		color: #1f1f1f
		font-family: Akrobat
		font-size: 43px
		text-transform: uppercase
		margin-bottom: 56px
		text-align: center
		+r(530)
			font-size: 30px
			margin-bottom: 10px
	&__list
		padding: 0 70px
		+r(1240)
			padding: 0
	&__item
		+clr
		margin-bottom: 70px
		+r(530)
			margin-bottom: 20px
	&__image
		float: left
		margin-left: 144px
		max-width: 305px
		width: 100%
		&_r
			float: right
			margin-left: auto
			margin-right: 144px
		+r(1240)
			float: none
			margin: 0 auto 20px
		+r(530)
			float: left
			width: 50%
			margin: 0 5px
		img
			width: 100%
	&__caption
		float: right
		max-width: 500px
		&_r
			float: left
		+r(1240)
			float: none
			margin: 0 auto
			text-align: center
	&__name
		font-family: Akrobatbold
		font-size: 27px
		text-transform: uppercase
		margin-bottom: 20px
		+r(530)
			font-size: 18px
	&__do
		color: #3b3b3b
		font-family: Akrobat
		font-size: 17px
		text-transform: uppercase
		margin-bottom: 23px
		+r(530)
			font-size: 16px
	&__review-title
		color: #4890bd
		font-family: Akrobat
		font-size: 17px
		text-transform: uppercase
		margin-bottom: 20px
		+r(530)
			display: none
	&__review-text
		color: #3b3b3b
		font-family: Akrobat
		font-size: 16px
		+r(530)
			display: none

