.features
	padding: 40px 0
	&_delivery
		padding: 60px 0
	+r(820)
		padding: 65px 0
	+r(700)
		padding: 55px 0
	+r(400)
		padding: 40px 0
	+r(375)
		display: none
	&__list
		max-width: 981px
		margin: 0 auto
		display: flex
		-webkit-justify-content: space-between
		justify-content: space-between
		align-items: baseline
		align-content: center
	&__item
		text-align: center
		p
			color: #000000
			font-family: Akrobat
			font-size: 24px
			font-weight: 300
			text-transform: uppercase
			text-align: center
			padding: 0 5px 
			+r(820)
				font-size: 20px
			+r(700)
				font-size: 16px
			+r(400)
				font-size: 12px
		.icon
			font-size: 50px
			margin-bottom: 15px
			+r(820)
				font-size: 50px
			+r(700)
				font-size: 30px
			+r(400)
				font-size: 20px
		span
			display: inline-block
		.icon
			fill: #ddd