.friend
	padding:  84px 0 79px
	+r(600)
		padding: 20px 0
	background: url('../img/bg-stock.jpg') 50% 50% no-repeat
	-webkit-background-size: cover
	 -o-background-size: cover
	 background-size: cover 
	width: 100%
	.container
		position: relative
		+clr
		+r(895)
			position: static
			width: 90%
			margin: 0 auto
		&:before
			display: block
			content: ''
			position: absolute
			background: url('../img/bg-friend.png') no-repeat
			left: 0
			top: 50%
			margin-top: -290px
			width: 414px
			height: 553px
			+r(895)
				display: none
	&__content
		text-align: center
		float: right
		margin-right: 100px
		font-family: Akrobatbold
		+r(895)
			float: none
			width: 100%
	&__title
		color: #3b3b3b
		font-size: 42px
		color: #ffd357
		margin-bottom: 10px
		+r(600)
			font-size: 25px
	&__subTitle
		font-size: 30px
		margin-bottom: 10px
		+r(600)
			font-size: 25px
	&__free
		color: #ffffff
		font-size: 82px
		text-transform: uppercase
		position: relative
		margin-bottom: 50px
		+r(600)
			font-size: 30px
			margin-bottom: 20px
		&:after
			+s(arrow)
			display: block
			position: absolute
			left: -192px
			top: 50%
			transform: translate(0, -50%)
			content: ''
			margin-top: 5px
			+r(1000)
				display: none
	&__button
		max-width: 280px
		padding: 7px 40px
		background-color: #ffd357
		border-radius: 20px
		color: #3b3b3b
		font-family: Akrobatbold
		/*siemiBold*/
		font-size: 28px
		text-transform: uppercase
		text-align: center
		text-decoration: none
		+r(600)
			font-size: 16px
			padding: 5px 20px
			