.friend
	padding:  84px 0 79px
	background: url('../img/bg-stock.jpg') 50% 50% no-repeat
	-webkit-background-size: cover
	 -o-background-size: cover
	 background-size: cover 
	.container
		position: relative
		+clr
		&:before
			display: block
			content: ''
			position: absolute
			background: url('../img/bg-friend.png') no-repeat
			left: 0
			top: 50%
			margin-top: -290px
			width: 414px
			height: 553px
	&__content
		text-align: center
		float: right
		margin-right: 100px
		font-family: Akrobatbold
	&__title
		color: #3b3b3b
		font-size: 42px
		color: #ffd357
		margin-bottom: 10px
	&__subTitle
		font-size: 30px
		margin-bottom: 10px
	&__free
		color: #ffffff
		font-size: 82px
		text-transform: uppercase
		position: relative
		margin-bottom: 50px
		&:after
			+s(arrow)
			display: block
			position: absolute
			left: -192px
			top: 50%
			transform: translate(0, -50%)
			content: ''
			margin-top: 5px
	&__button
		width: 280px
		height: 60px
		background-color: #ffd357
		border-radius: 20px
		color: #3b3b3b
		font-family: Akrobatbold
		/*siemiBold*/
		font-size: 28px
		text-transform: uppercase
		text-align: center
		text-decoration: none
		line-height: 60px