.map
	text-align: center
	position: relative
	padding: 0px 20px 0px
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #525252 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#525252 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#525252 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#525252',GradientType=0 );
	&__caption
		display: inline-block
		padding: 30px 40px
		font-size: 24px
		line-height: 37px
		background-color: rgba(112, 128, 144, 0.54)
		margin: 0 auto
		z-index: 5
		color: #fff
		text-align: center
		text-transform: uppercase
		position: relative
		left: 0
		right: 0
		top: 40px
		font-family: Akrobatbold
		width: 90%
		+r(1000)
			width: 80%
			font-size: 22px
		&_title
		&_yellow
			color: #f5b500
		&_text
			font-family: Akrobat
		&_sub
			text-transform: lowercase


