.nursery
	padding: 80px 0
	&__title
		text-align: center
		color: #1f1f1f
		font-family: Akrobat
		font-size: 45px
		font-weight: 400
		text-transform: uppercase
		margin-bottom: 66px
	.grid
		margin: 0 auto
	&__image-big
		&:after
			display: block
			position: absolute
			content: ''
			border: 1px solid #fff
			left: 5px
			right: 5px
			top: 10px
			bottom: 15px
	&__caption
		padding-top: 18px
		height: 76px
		background-color: rgba(255, 255, 255, .4)
		position: absolute
		left: 6px
		right: 6px
		bottom: 16px
		color: #fff
		font-family: Akrobat
		font-size: 25px
		text-align: center
		text-transform: uppercase
		&:after
			display: inline-block
			content: ''
			height: 2px
			background-color: #3eb5f1
			position: absolute
			left: 14px
			right: 14px
			bottom: 16px 
			
			
.grid-item
	width: 285px
	margin-bottom: 20px
.grid-item--width2
	width: 588px