.product
	&__title
		text-align: center
		font-family: Akrobatbold
		font-size: 36px
		text-transform: uppercase
		margin-bottom: 57px
		&_blue
			font-family: Akrobat
			color: #4890bd
		&_extra
			font-family: Akrobat
	&__content
		display: flex
	&__image
		margin-top: 45px
		margin-right: -40px
		z-index: 10
		position: relative
		&:after
			display: block
			content: ''
			display: block
			position: absolute
			border: 1px solid #ffffff
			top: 10px
			bottom: 10px
			left: 10px
			right: 10px
	&__stock
		padding: 40px 0 40px
		box-shadow: 4px 6px 9px rgba(0, 0, 0, 0.25)
		border: 1px solid rgba(0, 0, 0, 0.75)
		background-color: #808080
		height: 378px
	&__remainder


.product-stock
	&__title
		color: #ffffff
		font-family: "Akrobatbold"
		font-size: 50px
		font-weight: bold
		text-transform: uppercase
		letter-spacing: 2.44px
		padding-left: 96px
		span
			display: inline-block
			border-bottom: 1px solid blue
			padding-bottom: 10px
	&__text
		background-color: #767676
		padding-left: 96px
		color: #e7e0d6
		font-family: Akrobat
		font-size: 24px
		font-weight: 400
		text-transform: uppercase
		letter-spacing: 1.17px
	&__bottom
		background-color: #767676
		+clr
	&__old-price
		text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.15)
		color: #fd7979
		font-family: Akrobat
		font-size: 49px
		font-weight: bold
		text-transform: uppercase
		letter-spacing: 2.39px
		float: left
		margin-left: 78px
	&__buttons
		float: right
		padding: 0 42px 0 42px
	&__button
		display: block
		width: 158px
		height: 46px
		border: 2px solid #ffd357
		color: #fff
		border-radius: 25px
		background-color: transparent 
		line-height: 25px 
		font-family: Akrobatbold
		font-size: 18px
		text-transform: uppercase
		margin-bottom: 24px
		&_consultation
			color: #3b3b3b
			background-color: #ffd357
			font-size: 14px 
