.stock
	background: #fff url('../img/bg-stock.jpg') 50% 0 no-repeat
	-webkit-background-size: 100% 90% 
	-o-background-size: 100% 90% 
	background-size: 100% 97% 
	position: relative
	+r(1210)
		background-size: 100% 100%		
	.container
		width: 100%
		display: flex
		-webkit-flex-wrap: wrap
		-ms-flex-wrap: wrap
		flex-wrap: wrap
		-webkit-justify-content: space-between
		justify-content: space-between
		padding: 60px 0 70px
		background: url('../img/bg-stock-2.png') 0 130% no-repeat
		+r(1210)
			background-image: none
		+r(1172)
			-webkit-justify-content: center
			justify-content: center
		+r(420)
			padding-bottom: 0
		+r(375)
			padding-top: 40px
	&__content
		+r(1172)
			text-align: center
	&__form
	&__title
		color: #ffffff
		font-family: "Akrobat"
		font-size: 46px
		font-weight: 700
		letter-spacing: 2.4px
		text-transform: uppercase
		+r(768)
			font-size: 40px
		+r(400)
			font-size: 30px
	&__text
		font-size: 35px
		color: #100c0c
		font-family: Akrobat
		font-weight: 400
		letter-spacing: 3px
		margin-bottom: 43px
		+r(768)
			font-size: 23px
			margin-bottom: 20px
		+r(400)
			font-size: 16px
	&__term
		background-color: rgba(0,0,0, .5)
		padding: 60px 11px 71px
		color: #fff
		font-family: Akrobat
		font-size: 30px
		font-weight: bold
		text-transform: uppercase
		letter-spacing: 1.8px
		max-width: 400px
		height: 300px
		z-index: 10
		margin: 0 auto 40px
		+r(1025)
			height: auto
		+r(768)
			padding: 20px 10px
			font-size: 20px
			margin-bottom: 20px
		+r(400)
			margin-bottom: 0
		+r(376)
			font-size: 16px
			padding: 20px 5px
	.container
		position: relative
		+clr
		&:before
			display: block
			content: ''
			position: absolute
			height: 470px
			background: url('../img/bg-stock-2.png') no-repeat
			bottom: -150px
.forma-stock
	width: 440px
	padding: 25px 85px 33px
	text-align: center
	background-color: rgba(255,255,255,.11)
	&__title
		display: inline-block
		color: #fff
		font-family: Akrobat
		font-size: 16px
		font-weight: 700
		text-transform: uppercase
		margin-bottom: 31px
		padding-bottom: 3px
		border-bottom: 2px solid #fff	
		+r(375)
			margin-bottom: 10px
	input
		width: 100%
		height: 42px
		border: 1px solid rgba(0, 0, 0, 0.5)
		background-color: #fff
		margin-bottom: 19px
		color: #484848
		font-family: "Akrobat"
		font-size: 14px
		font-weight: 400
		text-transform: uppercase
		padding: 0 11px
		+r(375)
			margin-bottom: 10px
	textarea
		width: 100%
		height: 109px;
		border: 1px solid rgba(0, 0, 0, 0.5)
		background-color: #ffffff
		margin-bottom: 40px
		color: #484848
		font-family: "Akrobat"
		font-size: 14px
		font-weight: 400
		text-transform: uppercase
		padding: 11px
		+r(375)
			margin-bottom: 10px
	button
		width: 201px
		height: 60px
		border: 1px solid #3b3b3b
		background-color: #4890bd
		color: #fff
		font-family: Akrobat
		font-size: 16px
		font-weight: 700
		text-transform: uppercase
		border-radius: 24px