.works
	background-color: #525252
	padding: 109px 0 40px
	&__heading
		color: #e7e0d6
		font-family: Akrobat
		font-size: 44px
		text-transform: uppercase
		margin-bottom: 30px
		text-align: center
		&_blue
			color: #3eb5f1
	&__subtitle
		color: #eeeeee
		font-family: Akrobat
		font-size: 25px
		text-transform: uppercase
		text-align: center
		margin-bottom: 35px
	&__item
		position: relative
		margin-bottom: 19px
	&__image
		width: 560px
		height: 357px
		z-index: 1
		overflow: hidden
	&__list
		display: flex
		flex-wrap: wrap
		-webkit-justify-content: space-between
		justify-content: space-between
	&__caption
		position: absolute
		bottom: 0
		left: 0
		right: 0
		background-color: #FFF 
		height: 60px
		z-index: 3
		line-height: 60px
		padding: 0 40px
		color: #3b3b3b
		font-family: Akrobat
		font-size: 22px
	&__place
		font-variant: small-caps
		display: inline-block
		float: left
	&__area
		text-transform: uppercase
		font-family: Akrobat
		display: inline-block
		float: right
	&__button
		width: 300px
		text-align: center
		text-decoration: none
		border: 2px solid #6ac0f3
		color: #ffffff
		font-family: Akrobatbold
		padding: 30px 0
		/* semi*/
		font-size: 20px
		text-transform: uppercase
		background-color: transparent
		margin: 0 auto
		display: block
		border-radius: 22px
